* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Cormorant SC', serif;
}

header {
  padding: 2rem 2rem;
  background-color: #000;
  color: #fff;
}

.row {
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

input:focus {
  border-color: #044cd0;
  outline: none;
}

.btn {
  padding: 0.4rem 0.8rem;
  color: #fff;
  outline: none;
  border-color: #1fae51;
  border-radius: 0.5rem;
}

.btn-primary {
  background-color: #044cd0;
  border-color: #044cd0;
}

.btn-success {
  background-color: rgb(31, 174, 81);
}

.error {
  background-color: #8b0000;
}

.success {
  background-color: rgba(31, 174, 81, 0.71);
}

#feedback {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #ececec;
  font-weight: bold;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.heading {
  margin: 2rem auto;
}

.f-size-h3 {
  font-size: 2rem;
}

.f-size-h2 {
  font-size: 3rem;
}

table{
  border-radius: 5px;
  border: 1px solid #6e6e6e;
}

tr > td {
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
}

tr > td:nth-child(even) {
  background-color: rgba(31, 174, 81, 0.6);
  color: #fff;
  font-weight: bolder;
  text-align: end;
}

tr > td:nth-child(odd) {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

@media screen and (min-width: 768px) {
  .d-flex-lg {
    display: flex;
  }

  .justify-content-between-lg {
    justify-content: space-between;
  }

  .gap-4-lg {
    gap: 4rem;
  }

  .container {
    width: 80%;
    margin: auto;
  }

  .left-block,
  .right-block {
    flex-grow: 1;
  }
}
